rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return request.auth.uid == uid;
    }

    function hasRole(role) {
      return role in get(/databases/$(database)/documents/profiles/$(request.auth.uid)).data.roles
          || role in get(/databases/$(database)/documents/profiles/$(request.auth.uid)).data.extraRoles;
    }

    function isApproved() {
      return get(/databases/$(database)/documents/profiles/$(request.auth.uid)).data.approvalStatus == "approved";
    }

    match /profiles/{uid} {
      allow read: if isSignedIn() && isOwner(uid);
      allow create: if isSignedIn() && isOwner(uid);
      allow update, delete: if false;
    }

    match /activities/{id}/attendance/{uid} {
      allow read: if isSignedIn() && isApproved();
      allow update: if isSignedIn() && isApproved()
        && (hasRole("super_admin") || hasRole("ketua") || hasRole("wakil_ketua") || hasRole("sekretaris"));
    }
  }
}
